<article class="form-container">
  <h1>Agregar / Editar Héroe</h1>
  <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="superhero">Nombre del Superhéroe:</label>
      <input id="superhero" formControlName="superhero" type="text" />
      @if (heroForm.get('superhero')?.invalid &&
      heroForm.get('superhero')?.touched) {
      <small>El nombre del superhéroe es obligatorio.</small>
      }
    </div>

    <div class="form-group">
      <label for="publisher">Editor:</label>
      <select id="publisher" formControlName="publisher">
        @for (pub of publishers; track pub.id) {
        <option [value]="pub.id">{{ pub.desc }}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label for="alter_ego">Alter Ego:</label>
      <input id="alter_ego" formControlName="alter_ego" type="text" />
      @if (heroForm.get('alter_ego')?.invalid &&
      heroForm.get('alter_ego')?.touched) {
      <small>El alter ego es obligatorio.</small>
      }
    </div>

    <div class="form-group">
      <label for="first_appearance">Primera Aparición:</label>
      <input
        id="first_appearance"
        formControlName="first_appearance"
        type="text"
      />
      @if (heroForm.get('first_appearance')?.invalid &&
      heroForm.get('first_appearance')?.touched) {
      <small>La primera aparición es obligatoria.</small>
      }
    </div>

    <div class="form-group">
      <label for="characters">Personajes:</label>
      <input id="characters" formControlName="characters" type="text" />
      @if (heroForm.get('characters')?.invalid &&
      heroForm.get('characters')?.touched) {
      <small>Los personajes son obligatorios.</small>
      }
    </div>

    <div class="form-group">
      <label for="alt_img">Imagen Alternativa:</label>
      <input id="alt_img" formControlName="alt_img" type="text" />
      @if (heroForm.get('alt_img')?.invalid && heroForm.get('alt_img')?.touched)
      {
      <small>La imagen alternativa es obligatoria.</small>
      }
    </div>

    <button type="submit" [disabled]="heroForm.invalid">Guardar Héroe</button>
    <button type="button" (click)="onDeleteHero()" *ngIf="currentHero.id">
      Borrar Héroe
    </button>
  </form>
</article>
